.item {
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: #ffffffff;
    width: 120px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    overflow: hidden;
    padding: 5px;
}

.avatar {
    padding: 5px;
    border-radius: 4px;
    
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
margin: 5px 0 ;
    padding: 0;
    
}

.status {
font-weight: 500;
    font-size: 15px;
margin: 5px 0;
        padding: 0;
}

.online{
    color:green;
}

.offline {
    color: red;
}