.friendList {

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    list-style-type: none;
    margin-left: auto;
        margin-right: auto;
gap: 10px;
}

.description {
    display: flex;
    background-color: transparent;
    width: 100%;
          align-items: center;
          margin-top: 50px;
}